rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/data/appData {
      allow read, write: if request.auth != null &&
        request.auth.uid == userId &&
        request.auth.token.email == "maxiredigonda@gmail.com";
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
